{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    About DiscMonkey
{% endblock %}

{% block body_block %}
    <h1>Monkey says...</h1>
    <div>
        Here is DiscMonkey's about page. <br />
        <strong>This tutorial has been put together by WAD Team 8D.</strong><br />
        <p>Visits: {{ visits }}</p>
    </div>

    <div>
        <a href="{% url 'rango:index' %}">Index</a><br />
        <img src="{% static 'images/rango.jpg' %}" alt="Picture of Rango" />
    </div>

    <div>
        <img src="{{ MEDIA_URL }}cat.jpg" alt="Picture of a Cat." />
    </div>
{% endblock %}