{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    About DiscMonkey
{% endblock %}

{% block body_block %}
    <p class="about-thankyou-section"><i class="bi bi-info-circle"></i> Thank you for using DiscMonkey!</p>

    <div>
        <p class="about-body-section">
            DiscMonkey is the ultimate album haven where you can view and rate the hottest albums out right now! 
            Let the community know about your thoughts by leaving reviews, or read what others have to say.
            Create a profile and start voting on your favourite albums today!
            The website is designed to be user-friendly and easy to navigate.
            Contact us if you have any questions or feedback.
        </p>
    </div>

    <div>
        <p class="about-end-section">This website has been put together by WAD Team 8D.<br>
            the creators <strong><i>Isla, Mahid, Finn, Fexas and Martin</i></strong> hope that you enjoy using this website!</p>
    </div>

{% endblock %}