{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Add a Review
{% endblock %}

{% block body_block %}
    <h2>Write a Review for {{ album.albumName }}</h2>
    <div>
        <div>
            <form id="review_form" method="post" action="{% url 'rango:add_review' album.id %}">
                {% csrf_token %}
                {{ form.as_p }}

                <button type="submit">Submit Review</button>
            </form>

            <a href="{% url 'rango:album' album.slug %}">Back to Album</a>
        </div>
    </div>

{% endblock %}