{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Album
{% endblock %}

{% block body_block %}

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if album %}

        <h1>{{ album.albumName }}</h1>
        <h2>Artist: {{ album.artist }}</h2>
        <img src="{{ album.albumCover.url }}" alt="{{ album.albumName }} Cover" class="album-cover">

        <h2>Reviews:</h2>
        {% if reviews %}
            <ul>
                {% for review in reviews %}
                    <li>
                        <strong>{{ review.userID }}</strong> said:
                        <p>{{ review.reviewText }}</p>
                        <hr>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No reviews yet. Be the first to review this album!</p>
        {% endif %}

        <a href="{% url 'rango:add_review' album.id %}">Write a Review</a><br />
        
    {% else %}

        <strong>Album doesn't exist.</strong>

    {% endif %}

{% endblock %}