<!DOCTYPE html>
{% load staticfiles %}
{% load rango_template_tags %}
{% load bootstrap5 %}

<html>
<head>
    <title>
        DiscMonkey -
        {% block title_block %}
            How to Disc with Monkey!
        {% endblock %}
    </title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>

<body>
    <!-- Navigation Bar -->
    <div class="container">
        <ul class="nav bg-info">
            <li class="nav-item">
                <a class="nav-link link-light" href="{% url 'rango:index' %}">HOME</a>
            </li>
            <li class="nav-item">
                <a class="nav-link link-light" href="{% url 'rango:about' %}">ABOUT</a>
            </li>
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link link-light" href="{% url 'rango:restricted' %}">Restricted Page</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-light" href="{% url 'rango:logout' %}">Logout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-light" href="{% url 'rango:add_category' %}">Add New Category</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link link-light" href="{% url 'rango:register' %}">Sign Up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-light" href="{% url 'rango:login' %}">Login</a>
                </li>
            {% endif %}
        </ul>
    </div>

    <!-- Main Content -->
    <div class="container">
        {% block body_block %}
        {% endblock %}
    </div>

    <!-- Sidebar -->
    <div class="container">
        {% block sidebar_block %}
            {% get_category_list category %}
        {% endblock %}
    </div>

    <hr />
</body>
</html>