<ul class="list-group">
    {% if categories %}
        {% for c in categories %}
            {% if c == current_category %}
            <li class="list-group-item active">
                <a class="text-white" href="{% url 'rango:show_category' c.slug %}">{{ c.name }}</a>
            </li>
            {% else %}
            <li class="list-group-item">
                <a href="{% url 'rango:show_category' c.slug %}">{{ c.name }}</a>
            </li>
            {% endif %}
        {% endfor %}
    {% else %}
        <li class="list-group-item">There are no categories present.</li>
    {% endif %}
</ul>