{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Homepage
{% endblock %}

{% block body_block %}
    <h1>Monkey says...</h1>
    <div>
        {% if user.is_authenticated %}
            howdy {{ user.username }}! <br />
        {% else %}
            hey there disc partner! <br />
        {% endif %}
        <strong>{{ boldmessage }}</strong><br />
    </div>

    <div>
        <h2>Most Liked Genres</h2>
        {% if categories %}
            <ul>
                {% for category in categories %}
                    <li><a href="{% url 'rango:show_category' category.slug %}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no liked genres present.</strong>
        {% endif %}
    </div>

    <div>
        <h2>Most Viewed Albums</h2>
        {% if pages %}
            <ul>
                {% for page in pages %}
                    <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>No albums have been viewed.</strong>
        {% endif %}
    </div>
{% endblock %}