{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    recent reviews
{% endblock %}

{% block body_block %}
    <h1> Here are some of the hottest reviews being written by the hottest of the hot</h1>
    <div>
         
        
    </div>

    <div>
        <h2>Most Liked Albums</h2>
        {% if reviews %}
            <ul>
                {% for review in reviews %}
                    
                        <li>{{ review.reviewText }} said user  {{review.userID.username}} about the album {{review.albumID.albumName}}</li>
                    
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no albums present.</strong>
        {% endif %}
    </div>

{% endblock %}