{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {% if profile_owner %}
    {{ profile_owner.user.username }}'s profile
    {% else %}
    User not found
    {% endif %}
{% endblock %}

{% block body_block %}

{% if profile_owner %}
<div class="album-container">
    <div class="album-header">
        <div class="header-content">
            <h1>
                <i class="bi bi-collection-play"></i>
                {{ profile_owner.user.username }}'s profile
            </h1>
            <br/>
            {% if profile_owner.profilePicture%}
            <img src="{{ profile_owner.profilePicture.url }}" alt="{{ profile_owner.user.username }}' profile picture" class="album-cover">
            {% endif %}
            <br/>
            <p class="albums-subtitle">{{ profile_owner.bio }}</p>
        </div>
        
        {% if user.username == profile_owner.user.username %}
        <a href="{% url 'rango:add_category' %}" class="add-album-btn">
            <i class="bi bi-plus-lg"></i>
            Add New Album
        </a>
        <a href="{% url 'rango:edit_profile' %}" class="add-album-btn">
            <i class="bi bi-person-fill-gear"></i>
            Edit Profile
        </a>
        {% endif %}
    </div>

    <br/>
    {% if fav_albums %}
    <div class="header-content">
        <h2 class="profile-subtitle">
            <i class="bi bi-vinyl"></i>
            {% if fav_albums.count == 1 %}
                {{ profile_owner.user.username }}'s favourite album is
            {% else %}
                {{ profile_owner.user.username }}'s favourite albums are
            {% endif %}
        </h2>
        {% for fav_album in fav_albums %}
            {{ fav_album.albumID.albumName }} by {{ fav_album.albumID.artist }}<span class="albums-subtitle"> posted on {{ fav_album.dateAdded }}</span><br/>
        {% endfor %}
    </div>
    {% else %}
    <div class="header-content">
        <h2>
        <i class="bi bi-music-player"></i>
        {{ profile_owner.user.username }} hasn't shared their favourite album with us.
        </h2>
    </div>
    {% endif %}

    <br/><br/>
    {% if fav_genres %}
    <div class="header-content">
        <h2>
            <i class="bi bi-music-note"></i>
            {% if fav_genres.count == 1 %}
                {{ profile_owner.user.username }}'s favourite genre is
            {% else %}
                {{ profile_owner.user.username }}'s favourite genres are
            {% endif %}
        </h2>
        {% for fav_genre in fav_genres %}
            {{ fav_genre.genreID.genreName }}<span class="albums-subtitle"> posted on {{ fav_genre.dateAdded }}</span><br/>
        {% endfor %}
    </div>
    {% else %}
    <div class="header-content">
        <h2>
            <i class="bi bi-music-note"></i>
            {{ profile_owner.user.username }} hasn't shared their favourite genre with us.
        </h2>
    </div>
    {% endif %}

    <br/><br/>
    {% if reviews %}
        <div class="header-content">
            <h2>
                <i class="bi bi-journal"></i>
                Here are {{ profile_owner.user.username }}'s reviews:
            </h2>
        </div>
        <br/>
        {% for review in reviews %}        
            <li>{{ review.reviewText }} said user  {{review.userID.user.username}} about the album {{review.albumID.albumName}}</li> 
        {% endfor %}
    {% else %}
        <div class="empty-albums">
            <i class="bi bi-music-player"></i>
            <h2>{{ profile_owner.user.username }} hasn't posted any reviews yet... Stay tuned!</h2>
        </div>
    {% endif %}
</div>

{% else %}

<div class="album-container">
    <div class="album-header">
        <div class="header-content">
            <h1>
                <i class="bi bi-collection-play"></i>
                User not found
            </h1>
            <p class="albums-subtitle">{{ profile_owner.bio }}</p>
        </div>
    </div>

    <div class="empty-albums">
        <i class="bi bi-emoji-neutral"></i>
        <h2>Uh oh, looks like this user doesn't exist in our database :/</h2>
        <p>Do you want to return to the home page?</p>
            <a href="{% url 'rango:index' %}" class="add-album-btn">
                <i class="bi bi-house-door"></i>
                Home
            </a>
    </div>
</div>

{% endif %}

{% endblock %}